<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- http://www.cnblogs.com/dongying/p/4048828.html -->
<mapper namespace="com.xianpin365.dao.INewsDao">

	<resultMap id="newsMap" type="com.xianpin365.pojo.News">
		<id column="ID" property="id" />
		<result column="TITLE" property="title" />
		<result column="ACTIVED" property="actived" />
		<result column="PREVIEW_PIC" property="previewPic" />
		<result column="CONTENT_ABSTRACT" property="contentAbstract" />
		<result column="ISSUED_TIME" property="issuedTime" />
		<result column="FROM" property="from"/>
		<result column="PV_CNT" property="pvCount"/>
		<result column="CONTENT" property="content"/>
		<result column="KEYWORDS" property="keywords"/>
		<result column="NEXT_NEWS_ID" property="nextNewsId"/>
		<result column="NEXT_NEWS_TITLE" property="nextNewsTitle"/>
		<result column="LAST_NEWS_ID" property="lastNewsId"/>
		<result column="LAST_NEWS_TITLE" property="lastNewsTitle"/>
		<result column="NECK_BANNER" property="neckBanner"/>
	</resultMap>

	<sql id="Base_Column_List">
		ID,ACTIVED,TITLE,PREVIEW_PIC,ISSUED_TIME,FROM,PV_CNT,CONTENT,KEYWORDS,
		NEXT_NEWS_ID,NEXT_NEWS_TITLE,LAST_NEWS_ID,LAST_NEWS_TITLE,NECK_BANNER
	</sql>	

	<insert id="insert" parameterType="com.xianpin365.pojo.News"
		flushCache="true" statementType="PREPARED" keyProperty="" keyColumn=""
		useGeneratedKeys="false" timeout="20">
		INSERT INTO T_NEWS_INFO(ID,ACTIVED,TITLE,PREVIEW_PIC,ISSUED_TIME,FROM,PV_CNT,CONTENT,KEYWORDS,
		NEXT_NEWS_ID,NEXT_NEWS_TITLE,LAST_NEWS_ID,LAST_NEWS_TITLE,NECK_BANNER) 
		VALUES(#{id},#{actived},#{title},#{previewPic},#{issuedTime},#{from},#{pvCount},#{content},
		#{keywords},#{nextNewsId},#{nextNewsTitle},#{lastNewsId},#{lastNewsTitle},#{neckBanner})
	</insert>

	<select id="getById" parameterType="java.lang.Integer" resultMap="newsMap">
		SELECT *
		FROM T_NEWS_INFO
		WHERE ID = #{id}
	</select>
	
	<select id="getByStatus" parameterType="boolean" resultMap="newsMap">
		SELECT *
		FROM T_NEWS_INFO
		WHERE ACTIVED =#{actived} ORDER BY ISSUED_TIME
	</select>
	
	<!-- <update id="updateProduct" parameterType="com.xianpin365.pojo.Product" flushCache="true" 
		statementType="PREPARED" timeout="20" /> -->

</mapper>