<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- http://www.cnblogs.com/dongying/p/4048828.html -->
<mapper namespace="com.xianpin365.dao.IPageCommonInfoDao">

	<resultMap id="pageCommonInfoMap" type="com.xianpin365.entity.PageCommonInfo">
		<id column="ID" property="id" />
		<result column="TITLE" property="title" />
		<result column="LANGUAGE" property="language" />
		<result column="MENU_ITEM_0" property="menuItem0" />
		<result column="MENU_ITEM_1" property="menuItem1" />
		<result column="MENU_ITEM_2" property="menuItem2" />
		<result column="MENU_ITEM_3" property="menuItem3"/>
		<result column="MENU_ITEM_4" property="menuItem4"/>
		<result column="MENU_ITEM_5" property="menuItem5"/>
		<result column="ABOUT_BANNER" property="aboutBanner"/>
		<result column="PRODUCT_BANNER" property="productBanner"/>
		<result column="HONOR_BANNER" property="honorBanner"/>
		<result column="NEWS_BANNER" property="newsBanner"/>
		<result column="CONTACT_BANNER" property="contactBanner"/>
		<result column="MENU_SLOGAN" property="menuSlogan"/>
		<result column="COMPANY_NAME" property="companyName"/>
		<result column="TEL_NUM" property="telNum"/>
		<result column="HOME_PAGE" property="homePage"/>
		<result column="QQ" property="qq"/>
		<result column="EMAIL" property="eMail"/>
		<result column="ADDR" property="addr"/>
		<result column="WECHAT" property="wechat"/>
		<result column="ORDER_LABEL" property="orderLabel"/>
		<result column="HOME_LABEL" property="homeLabel"/>
		<result column="TIME_LABEL" property="timeLabel"/>
		<result column="FROM_LABEL" property="fromLabel"/>
		<result column="COMPANY_LABEL" property="companyLabel"/>
		<result column="SERIES_LABEL" property="seriesLabel"/>
		<result column="PACKAGING_LABEL" property="packagingLabel"/>
		<result column="SPECIFICATIONS_LABEL" property="specificationsLabel"/>
		<result column="FEETER_TEL_NO" property="footerTelNum"/>
		<result column="FEETER_COPYRIGHT" property="footerCopyright"/>
	</resultMap>

	<sql id="Base_Column_List">
		ID,ACTIVED,TITLE,PREVIEW_PIC,ISSUED_TIME,FROM,PV_CNT,CONTENT,KEYWORDS,
		NEXT_NEWS_ID,NEXT_NEWS_TITLE,LAST_NEWS_ID,LAST_NEWS_TITLE,NECK_BANNER
	</sql>	

	<select id="getByLanguage" parameterType="java.lang.String" resultMap="pageCommonInfoMap">
		SELECT *
		FROM T_PAGE_COMMON_INFO
		WHERE LANGUAGE = #{language}
	</select>
	
	<update id="update" parameterType="com.xianpin365.entity.PageCommonInfo">
        UPDATE T_PAGE_COMMON_INFO
        <set>
            <if test="language != null">language=#{language},</if>
            <if test="menuItem0 != null">MENU_ITEM_0=#{menuItem0},</if>
            <if test="menuItem1 != null">MENU_ITEM_1=#{menuItem1},</if>
            <if test="menuItem2 != null">MENU_ITEM_2=#{menuItem2},</if>
            <if test="menuItem3 != null">MENU_ITEM_3=#{menuItem3},</if>
            <if test="menuItem4 != null">MENU_ITEM_4=#{menuItem4},</if>
            <if test="menuItem5 != null">MENU_ITEM_5=#{menuItem5},</if>
            <if test="aboutBanner != null">ABOUT_BANNER=#{aboutBanner},</if>
            <if test="productBanner != null">PRODUCT_BANNER=#{productBanner},</if>
            <if test="honorBanner != null">HONOR_BANNER=#{honorBanner},</if>
            <if test="newsBanner != null">NEWS_BANNER=#{newsBanner},</if>
            <if test="contactBanner != null">CONTACT_BANNER=#{contactBanner},</if>
            <if test="menuSlogan != null">MENU_SLOGAN=#{menuSlogan},</if>
            <if test="companyName != null">TEL_NUM=#{companyName},</if>
            <if test="homePage != null">HOME_PAGE=#{homePage},</if>
            <if test="qq != null">QQ=#{qq},</if>
            <if test="eMail != null">EMAIL=#{eMail},</if>
            <if test="addr != null">ADDR=#{addr},</if>
            <if test="wechat != null">WECHAT=#{wechat},</if>
            <if test="footerTelNum != null">FEETER_TEL_NO=#{footerTelNum},</if>
            <if test="footerCopyright != null">FEETER_COPYRIGHT=#{footerCopyright},</if>
            <if test="orderLabel != null">ORDER_LABEL=#{orderLabel},</if>
            <if test="homeLabel != null">HOME_LABEL=#{homeLabel},</if>
            <if test="timeLabel != null">TIME_LABEL=#{timeLabel},</if>
            <if test="fromLabel != null">FROM_LABEL=#{fromLabel},</if>			
			<if test="companyLabel != null">COMPANY_LABEL=#{companyLabel},</if>
			<if test="seriesLabel != null">SERIES_LABEL=#{seriesLabel},</if>
			<if test="packagingLabel != null">PACKAGING_LABEL=#{packagingLabel},</if>
			<if test="specificationsLabel != null">SPECIFICATIONS_LABEL=#{specificationsLabel}</if>
        </set>
        WHERE id = #{id}
	</update>    
	

</mapper>